# root dir, mostly configure / make stuff
sumo/aclocal.m4
sumo/autom4te.cache
sumo/config.guess
sumo/config.log
sumo/config.status
sumo/config.sub
sumo/configure
sumo/depcomp
sumo/install-sh
sumo/libtool
sumo/ltmain.sh
sumo/missing
sumo/sumo-*.tar.gz
sumo/sumo-*.zip
sumo/diff.*
sumo/compile
sumo/latex
sumo/mirror
# IDE project files
sumo/.settings
sumo/.cproject
sumo/.project
sumo/.pydevproject
sumo/.vs
# build dir 
sumo/cmake-build*
sumo/cmake_build*
sumo/build/cmake-build*
sumo/build/cmake_build*
sumo/build/cmake-codeblocks*
sumo/build/cmake-clang*
sumo/build/cmake-mingw*
sumo/out
# bin dir
sumo/bin/TraCITestClient*
sumo/bin/activitygen*
sumo/bin/dfrouter*
sumo/bin/duarouter*
sumo/bin/emissionsDrivingCycle*
sumo/bin/emissionsMap*
sumo/bin/jtrrouter*
sumo/bin/marouter*
sumo/bin/netconvert*
sumo/bin/netedit*
sumo/bin/netgenerate*
sumo/bin/od2trips*
sumo/bin/polyconvert*
sumo/bin/sumo*
sumo/bin/sumo-gui*
sumo/bin/testcommon*
sumo/bin/testfoxtools*
sumo/bin/testgeom*
sumo/bin/testmicrosim*
sumo/bin/testnetbuild*
sumo/bin/testlibsumo*
sumo/bin/testthreadpool*
sumo/bin/*.dll
sumo/bin/*.dylib
sumo/bin/*.so
sumo/bin/*.pyd
sumo/bin/osgPlugins*
sumo/bin/libsumoc*
sumo/bin/liblibsumojni.jnilib
sumo/bin/liblibtracijni.jnilib
sumo/bin/libsumofmi2.dylib
# data dir
sumo/data/proj
# docs dir, make artifacts
sumo/docs/doxygen
sumo/docs/examples
sumo/docs/javadoc
sumo/docs/lcov
sumo/docs/man
sumo/docs/pydoc
sumo/docs/tutorial
sumo/docs/userdoc
sumo/docs/web/site/
sumo/docs/web/__pycache__/
sumo/docs/web/*.pyc
# src dir, mostly configure / make stuff
sumo/src/config.h
sumo/src/config.h.in
sumo/src/stamp-h1
sumo/src/version.h
sumo/src/tags
sumo/src/cscope.out
sumo/src/activitygen/activitygen
sumo/src/dfrouter/dfrouter
sumo/src/duarouter/duarouter
sumo/src/jtrrouter/jtrrouter
sumo/src/marouter/marouter
sumo/src/netconvert
sumo/src/netedit/netedit
sumo/src/netgen/netgenerate
sumo/src/netimport/typemap.h
sumo/src/od2trips
sumo/src/polyconvert/pc_typemap.h
sumo/src/polyconvert/polyconvert
sumo/src/sumo
sumo/src/sumo-gui
sumo/src/tools/emissionsDrivingCycle
sumo/src/tools/emissionsMap
sumo/src/traci_testclient/TraCITestClient
sumo/src/utils/empty.cpp
sumo/unittest/src/sumo-unittest
# tools dir
sumo/tools/*.egg-info
sumo/tools/[0-9]*
sumo/tools/game/*.netstate.xml
sumo/tools/game/*.tlsstate.xml
sumo/tools/game/netstate.xml
sumo/tools/game/tlsstate.xml
sumo/tools/game/*.tripinfos.xml
sumo/tools/game/racing/log
sumo/tools/game/racing/tripinfos.xml
sumo/tools/game/A10KW/*
sumo/tools/contributed/lisum-core/target
sumo/tools/contributed/lisum-gui/target
sumo/tools/contributed/traas/dist
sumo/tools/contributed/traas/javadoc
sumo/tools/contributed/traas/release
sumo/tools/contributed/traas/target
sumo/tools/libsumo/java/
sumo/tools/libsumo/_libsumo.*
sumo/tools/libsumo/libsumo.py
sumo/tools/libsumo/libsumoPYTHON_wrap.cxx
sumo/tools/libsumo/libsumoc.so
sumo/tools/libsumo/libsumocpp.so
sumo/tools/libsumo/libsumocpp.dylib
sumo/tools/libtraci/_libtraci.so
sumo/tools/libtraci/libtraci.py
sumo/tools/libtraci/libtraciPYTHON_wrap.cxx
sumo/tools/libtraci/libtracicpp.so
sumo/tools/libtraci/libtracicpp.dylib
# extracted tests
sumo/tests/_*
# netedit test
sumo/tests/netedit/__pycache__
sumo/tests/netedit/filter_files
# global patterns
Makefile
Makefile.in
*.vcxproj.user
*.class
lib*.a
.deps
**/.DS_Store
.libs
*.o
*.pyc
*.sdf
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.obj
*.log
*.tlog
*.lastbuildstate
*.exe
*.jar
*.ilk
*.pdb
*.props
*.exp
*.lib
*.res
*.ipch
.vscode
*.aps
.gdb_history

sumo/tools/contributed/lisum/lisum-core/target/
sumo/tools/contributed/lisum/lisum-gui/target/
sumo/tools/contributed/lisum/lisumgui/target/
sumo/*build*
sumo/files
